<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Folder index" stopProcessing="true">
                  <match url="^$" ignoreCase="false" />
                  <action type="Redirect" redirectType="Found" url="http://www.jublo.net/" />
                </rule>
                <rule name="Send all paths to PHP file" stopProcessing="true">
                    <match url="." ignoreCase="false" />
                    <action type="Rewrite" url="codebird-cors-proxy.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
